body {
    position: relative;
    margin: 0;
    font-family: 'Merriweather', 'Georgia', 'Times New Roman', serif;
}
#background {
    background-attachment: scroll;
    background-image: url("../images/california_state_government.jpg");
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}
h1 {
    font-weight: bolder;
}
p {
    font-size: 18px;
    font-weight: bolder;
}
hr {
    border-color: black;
}
.footer {
    width: 100%;
    background-color: rgba(61, 61, 61, 0.9);
    border-color: #080808;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
}
.content-blocks {
    background-color: rgba(255, 255, 255, 0.5);
}
.content-container {
    padding: 60px 20px 20px;
}
.rounded-content-box {
    border-radius: 15px;
}
.home-page {
    padding: 20px 20px;
}
.home-page a {
    color: #000000;
}
.home-page h1 {
    text-align: center;
    padding: 15px 0;
}
.learn-more {
    margin-bottom: 5px;
}
.stats-heading {
    text-align: center;
    margin-bottom: 5px;
}
#cal-map {
    width: auto;
    height: 350px;
    padding: 20px 0;
}
.stacked-divs {
    max-width: 250px;
}
.header-block {
    margin-bottom: 10px;
    padding: 10px;
}
.header-block a {
    color: #ffffff;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50px;
    margin: 50px 10px 20px 0;
}
/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50px;
    margin: 50px 10px 20px 10px;
}
.btn-default {
    border: 2px solid #00a1ff;
}


/* Charts */
#number-projects-nd {
    font-size: 60px;
}
#total-donations-nd {
    font-size: 60px;
}
.dc-select-menu {
   background: #00a1ff;
   width: 100%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0;
}
.row-chart-style {
    max-width: 350px;
}
.pie-chart-style {
    max-width: 350px;
}


/* Contact form */
form label {
    font-size: 1.2em;
    font-weight: bolder;
    display: block;
    padding: 10px 0;
}

form input#name,
form input#email,
form input#subject {
    width: 400px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 5px;
    font-size: 1.1em;
}

form textarea#message {
    width: 500px;
    height: 100px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.1em;
}

form input#submit {
    display: block;
    -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
            border-radius: 3px;
    border:1px solid #d8d8d8;
    padding: 10px;
    font-weight:bold;
    text-align: center;
    color: #000000;
    background-color: #f4f4f4;
}

form input#submit:hover{
    cursor: pointer;
    border:1px solid #c1c1c1;
    background-color: #dbdbdb;
}
/* Message flashing */
.flash {
    background-color: #ffc4c3;
    padding: 10px;
    width: 400px;
}


/* Media Queries */
@media only screen and (max-width: 500px) {
    form input#name,
    form input#email,
    form input#subject {
        width: 300px;
    }
    form textarea#message {
        width: 300px;
    }
    .flash {
        max-width: 300px;
    }

}
@media only screen and (max-width: 1200px) {
    .chart-scroll {
        overflow-x: scroll !important;
    }
}