{% extends 'index.html' %}

{% block content %}
<div class="container content-blocks content-container">
    <!-- Welcome Block -->
    <div class="row">
        <div class="col-md-6 home-page">
            <h1>Vote Bill Pryce #1</h1>
            <p>Thank you for taking the time to visit us here. As you may know I am running for Governor of this
            great state of California. I have had a varied career including many years in local and national politics and
            I believe I am the right person to direct our beloved state in the years ahead. There are many issues facing us both locally and nationally
            and it is important that we make the right decisions and manage our state finances appropriately.
            Below I have outlined some of my main goals which I will continually strive to achieve if elected.</p>
            
        </div>
        <div class="col-md-6">
            <img src="../static/images/california_state_seal.png" class="img-responsive center-block">
            
        </div>
    </div>
    <!-- Welcome Block -->

    <hr>

    <!-- Mission Statement -->
    <div class="row">
        <div class="col-md-12 home-page">
            <h1>Mission Statement</h1>
            <p>
                There are many issues facing California right now and into the future. Some of the key areas I will focus on
                are education, crime, security, climate change, poverty and business. As you are all aware climate change is
                affecting all of us on a yearly basis and threatening our homes and livelihoods. It is extremely important that
                we tackle this early and fast. I will take the necessary steps to bring about fast action on this.<br>
                <br>
                Education is another area that I am deeply passionate about. I believe it will benefit us all if we look after
                the future of our young people. Donations to school projects make up a large portion of school funding. I have
                gathered together some visual statistics to show how we, as the most populous state in this great nation, are falling
                behind some of our compatriots and I believe we can do better. Please click the button below to view these statistics.
            </p>
            <button type="button" class="btn btn-default center-block" onclick=location.href="/statistics">Statistics</button>
        </div>

    </div>
    <!-- Mission Statement -->

    <hr>

    <!-- Contact Section -->
    <div class="row">
        <div class="cold-md-12 home-page">
            <h1>Contact Us</h1>
            
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6 home-page">
            <h2>Address</h2>
            <p>123 Willow Street,<br> Maybury Avenue,<br> Sacramento 94203,<br> California </p>
            <h2>Telephone</h2>
            <p>+1 916 12345678</p>
            <h2>Email</h2>
            <p>
                <a href="mailto:billprycecampaign@example.com" target="_top">billprycecampaign@example.com</a>
            </p>

            <img src="../static/images/california-county-map.jpg" id="cal-map" class="img-responsive center-block">
            
        </div>
        <!-- Contact Form -->
        <div class="col-md-6 home-page">
            <!-- If successful display this message -->
            {% if success %}
                <p>Thank you for your message. We'll get back to you shortly.</p>

            {% else %}

                <form action="{{ url_for('index') }}" method="post">
                    <fieldset>
                    <legend>Send Us a Message</legend>
                        <!-- CSRF Protection -->
                        {{ form.hidden_tag() }}

                        <!-- Form fields and flash errors -->
                        {% for message in form.name.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.name.label }}
                            {{ form.name }}
                        </div>

                        {% for message in form.email.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email }}
                        </div>

                        {% for message in form.subject.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.subject.label }}
                            {{ form.subject }}
                        </div>

                        {% for message in form.message.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.message.label }}
                            {{ form.message }}
                        </div>
                        {{ form.submit }}
                    </fieldset>

                </form>
            {% endif %}
            <!-- Social Links -->
            <a target="_blank" href="https://www.facebook.com" aria-label="Visit our Facebook page">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a target="_blank" href="https://twitter.com" aria-label="Visit our Facebook page">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <!-- Social Links -->
            
        </div>
        
    </div>
    <!-- Contact Section -->

</div>






{% endblock %}