{% extends 'index.html' %}

{% block content %}
<div  id="outer" class="container-fluid content-container">
    <div class="row">
        <div class="col-md-12 stats-heading content-blocks">
            <h1>National School Donations Statistics</h1>
        </div>

    </div>
    <div class="row">
                <!-- Time Chart -->
                <!-- Time Chart -->

                <div class="col-lg-2">
                    <button class="intro_button btn btn-default learn-more" type="button" autofocus onclick="javascript:introJs().setOptions({'skipLabel': 'Exit'}).start();">Learn More</button>
                    <div class="chart-wrapper stacked-divs" data-step="1" data-intro="Here you can select an overall view of the national data or specific states." style="font-weight: normal" data-position="right">
                        <div class="chart-title">
                            Donation State
                        </div>
                        <div class="chart-stage">
                            <div id="menu-select"></div>
                        </div>
                    </div>
                </div>



                <div class="col-lg-2">
                     <div class="chart-wrapper stacked-divs" data-step="2" data-intro="This is the total number of donations nationally or per state." style="font-weight: normal" data-position="right">
                        <div class="chart-title">
                            Total Number of Donations
                        </div>
                        <div class="chart-stage">
                            <div id="number-projects-nd"></div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2">
                    <div class="chart-wrapper stacked-divs" data-step="3" data-intro="This is the total amount of donations in USD." style="font-weight: normal" data-position="right">
                        <div class="chart-title">
                            Total Donations in USD
                        </div>
                        <div class="chart-stage">
                            <div id="total-donations-nd"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 content-blocks stats-para">
                    <p>You can see the donations here for a sample set of states and how California compares.</p>
                </div>



        </div>

    <div class="row">
        <div class="col-md-12 foo-bar">
            <div class="chart-wrapper" data-step="4" data-intro="This graph shows us a timeline of donations received." style="font-weight: normal" data-position="bottom">
                <div class="chart-title">
                    Number of Donations
                </div>
                <div class="chart-stage">
                    <div id="time-chart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- State Donations Chart -->
        <div class="col-sm-12">
            <div class="chart-wrapper" data-step="5" data-intro="This graph gives us a visual breakdown of donations received by individual states. As you can see, as the most
                populous state in the US, California is not receiving nearly enough funding compared to some other districts." style="font-weight: normal" data-position="top">
                <div class="chart-title">
                    Number of Donations by State
                </div>
                <div class="chart-stage">
                    <div id="state-donations-chart"></div>
                </div>
            </div>
        </div>
        <!-- State Donations Chart -->

    </div>

    <div class="row">
                <!-- funding Pie -->
                <div class="col-sm-2">
                    <div class="chart-wrapper" data-step="6" data-intro="You can see here the current status of the funding received." style="font-weight: normal" data-position="right">
                        <div class="chart-title">
                            Funding Status
                        </div>
                        <div class="chart-stage">
                            <div id="funding-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- funding Pie -->

        <!-- Poverty -->
        <div class="col-sm-5">
            <div class="chart-wrapper" data-step="7" data-intro="Here you can see a breakdown of donations based on the poverty levels" style="font-weight: normal" data-position="right">
                <div class="chart-title">
                    Poverty Level
                </div>
                <div class="chart-stage">
                    <div id="poverty-level-row-chart"></div>
                </div>
            </div>
        </div>
        <!-- Poverty -->

        <!-- Resources -->
                <div class="col-sm-5">
                    <div class="chart-wrapper" data-step="8" data-intro="Finally this graph will give you an idea of how donations received have been used." style="font-weight: normal" data-position="left">
                        <div class="chart-title">
                            Resources Type
                        </div>
                        <div class="chart-stage">
                            <div id="resource-type-row-chart"></div>
                        </div>
                    </div>
                </div>
        <!-- Resources -->

    </div>



</div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
    <script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>
    <script>
    </script>
{% endblock %}