{% extends 'index.html' %}

{% block content %}
<div  id="outer" class="container-fluid content-container">
    <div class="row">
        <div class="col-md-2">
            <button class="intro_button btn btn-default learn-more" type="button" autofocus onclick="javascript:introJs().start();">Learn More</button>

        </div>
        <div class="col-md-10 stats-heading">
            <h1>National School Donations Statistics</h1>
        </div>

    </div>
    <div class="row">
                <!-- Time Chart -->
                <!-- Time Chart -->
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="chart-wrapper stacked-divs">
                        <div class="chart-title">
                            Donation State
                        </div>
                        <div class="chart-stage">
                            <div id="menu-select"></div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                     <div class="chart-wrapper stacked-divs">
                        <div class="chart-title">
                            Total Number of Donations
                        </div>
                        <div class="chart-stage">
                            <div id="number-projects-nd"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="chart-wrapper stacked-divs">
                        <div class="chart-title">
                            Total Donations in USD
                        </div>
                        <div class="chart-stage">
                            <div id="total-donations-nd"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-10" data-step="1" data-intro="The description that you want" style="font-weight: normal" data-position="right">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Number of Donations
                </div>
                <div class="chart-stage">
                    <div id="time-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- State Donations Chart -->
        <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Number of Donations by State
                </div>
                <div class="chart-stage">
                    <div id="state-donations-chart"></div>
                </div>
            </div>
        </div>
        <!-- State Donations Chart -->

    </div>

    <div class="row">
                <!-- funding Pie -->
                <div class="col-sm-2">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Funding Status
                        </div>
                        <div class="chart-stage">
                            <div id="funding-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- funding Pie -->

        <!-- Poverty -->
        <div class="col-sm-5">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Poverty Level
                </div>
                <div class="chart-stage">
                    <div id="poverty-level-row-chart"></div>
                </div>
            </div>
        </div>
        <!-- Poverty -->

        <!-- Resources -->
                <div class="col-sm-5">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Resources Type
                        </div>
                        <div class="chart-stage">
                            <div id="resource-type-row-chart"></div>
                        </div>
                    </div>
                </div>
        <!-- Resources -->

    </div>



</div>
{% endblock %}
{% block graphscript %}
    <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
    <script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>
{% endblock %}